        body{
            background:red;
        }
        .center{
            margin: auto;
            width: 12px;
            height: 25px;
            border: 5px solid red;
        }
        .one{
            padding: 7px;
            border: 2px solid aquamarine ;
            background: gray;
            border-radius: 12px;
            overflow-x: inherit;
            /* display: block; */
        }
        .two{
            padding: 7px;
            border: 2px solid aquamarine ;
            background: gray;
            border-radius: 12px;
            overflow-x: hidden;
            /* display: block; */
        }
